/*potrzebne do definiowaania zmiennej, przy uzywaniu zmiennych var(--sliderHeight_;*/
:root {
    --sliderHeight: 400px;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto Light Italic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@keyframes slide-1 {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    40% {
        left: -100%;
    }
    60% {
        left: -100%;
    }
    80% {
        left: -200%;
    }
    100% {
        left: -200%;
    }

}

@keyframes slide-2 {
    0% {
        left: 100%;
    }
    20% {
        left: 100%;
    }
    40% {
        left: 0;
    }
    60% {
        left: 0;
    }
    80% {
        left: -100%;
    }
    100% {
        left: -100%;
    }
}

@keyframes slide-3 {
    0% {
        left: 200%;
    }
    20% {
        left: 200%;
    }
    40% {
        left: 100%;
    }
    60% {
        left: 100%;
    }
    80% {
        left: 0;
    }
    100% {
        left: 0;
    }
}

.slider {
    background-color: peru;
    overflow: hidden;
    width: 100%;
    min-height: var(--sliderHeight);
    position: relative;
}

.slider .slider__slides {
    position: relative;
}

.slider .slider__slide {
    width: 100%;
    min-height: var(--sliderHeight);
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slider .slider__slide:first-child {
    background-image: url("../images/slide-2.gif");
    left: 0;
    /*    to jest left na position absolute*/
    animation-name: slide-1;

}

.slider .slider__slide:nth-child(2) {
    background-image: url("../images/slide-4.jpeg");
    left: 100%;
    animation-name: slide-2;
}

.slider .slider__slide:last-child {
    background-image: url("../images/slide-3.jpeg");
    left: 200%;
    animation-name: slide-3;
}

.slider .slider__box {
    position: absolute;
    bottom: 0;
    /*    tekst nie moze sie sklejac z ramka, dajemy padding*/
    padding: 20px;
    width: 100%;
    /*    szerokosc jest szerokoscia rodzica, ale to tylko 100% content, wiec nie widzimy paadingu z prawej*/
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    /*wysokosc tego bkg color zalezy od ilosci tekstu*/
    color: white;
    /*o robi tlo backgroundu i czcionki*/
    /*font-family: 'Roboto', sans-serif;*/
    /*    wybiera czcionki od lewej do prawej*/
}

.slider .slider__hdl {

    font-family: 'Roboto Black', sans-serif;
    /*font-weight: 500;*/
    margin-top: 0;
    /*  aby wyrownac tekst*/
}

.slider .slider__lead {
    font-family: 'Roboto Light Italic', sans-serif;
    /*font-weight: 300;*/
}

.slider .slider__link {
    color: inherit;
    font-family: 'Roboto Black', sans-serif;
    /*font-weight: 500;*/
    text-decoration: none;
    text-transform: uppercase;
    /*    czemu nie dziedziczy koloru po rodzicu, color:white; bo ma swoj by default, robimy aby dziedziczyl od rodzicow by inherit*/
}

/*.slider .slider__link::before {*/
/*    content: "before text";*/
/*}*/
/*!*trzeba wpisac content!*!*/

.slider .slider__link::after {
    content: " ";
    background-image: url("../images/read-more-item.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin-top: -3px;
}

/*trzeba wpisac content!*/
/*ta ikonka dziala jako background, wiec aby sie nie powtrzala to no repeat*/

.slider .slider__nav {
    z-index: 10;
    position: absolute;
    /*    z index nie dziala z position static*/
    top: 50%;
    transform: translateY(-50%);
    /*    w slider dalismy position relative, bo potrzebuje rodzica wzgledem ktorego bedzie dzialac*/
    width: 100%;
}

.slider .slider__btn {
    margin: 20px;
    border: none;
    width: 30px;
    height: 30px;
    background: url("../images/read-more-item.svg") no-repeat;
    /*option i enter, robi shorthand*/
    background-size: contain;
    overflow: hidden;
    text-indent: -999px;
    /*    akapit, wciecie, ale napisy sa nadal w hyml wiec jak jest ten voice reader to przeczyta*/
    /*    wszytsko co nie miesci sie za dzieckiem zostaje odciete- dziurka od klucza*/
    transform: rotate(180deg);
    cursor: pointer;
    opacity: 0.5;
    transition: all 400ms ease-in-out;

}

.slider .slider__btn.slider__btn--next {
    position: absolute;
    right: 0;
    transform: rotate(0);
}

.slider .slider__btn:hover {
    opacity: 1;
    transform: scale(2) rotate(180deg);
}

.slider .slider__btn.slider__btn--next:hover {
    transform: scale(2) rotate(0);
}