/*potrzebne do definiowaania zmiennej, przy uzywaniu zmiennych var(--sliderHeight_;*/
:root {
    --sliderHeight: 400px;
}

.slider {
    background-color: peru;
    margin-top: 300px;
    overflow: hidden;
    width: 100%;
    min-height: var(--sliderHeight);
}

.slider .slider__slides {
    position: relative;
}

.slider .slider__slide {
    /*background-color: lightcoral;
    bedziesz sie pozycjowac wzgledem rodzica relative bo jest inny niz static*/
    width: 100%;
    min-height: var(--sliderHeight);
    position: absolute;
    top: 0;

}
.slider .slider__slide:first-child {
    background-image: url("../images/slide-1.jpeg");
    left: 0;
}
.slider .slider__slide:nth-child(2) {
    background-image: url("../images/slide-2.gif");
    left: 100%;
}
.slider .slider__slide:last-child {
    background-image: url("../images/slide-3.jpeg");
    left: 200%;
}
.slider .slider__box {
    position: absolute;
    bottom: 0;
/*    tekst nie moze sie sklejac z ramka, dajemy padding*/
    padding: 20px;
    width: 100%;
/*    szerokosc jest szerokosc rodzica, ale to tylko 100 content, wiec nie widzimy paadingu z prawej*/
box-sizing: border-box;
}
.slider .slider__hdl {}

.slider .slider__lead {}

.slider .slider__link {}

.slider .slider__nav {}

.slider .slider__btn {}


